@use "variables.scss" as *;
@use "mixins.scss" as *;
@use "functions.scss" as *;

:root {
  --viewport-width: 100vw;
  --base-viewport-width: 768;

  @each $key, $value in $colors {
    --color-#{$key}: #{extractRGB($value)};
  }

  @include desktop-screen {
    --base-viewport-width: 1920;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

button {
  display: block;
  background-color: transparent;
  cursor: pointer;
  border: none;
}

ol, ul {
  list-style: none;
}

svg, img {
  vertical-align: middle;
}

a {
  text-decoration: none;
  color: unset;
}
