@use "~/assets/scss/functions.scss" as *;
@use "~/assets/scss/mixins.scss" as *;

.CatalogDetail__wrapper {
  display: flex;
  flex-direction: column;

  @include desktop-screen {
    flex-direction: row;
  }
}

.ProductDetail__overview {
  width: 100%;
  background-color: cssColor(seasalt);
  align-self: flex-start;
  padding-bottom: viewportSize(44);
  position: relative;

  img {
    width: 100%;
    height: 100%;
  }

  @include desktop-screen {
    padding-bottom: 0;
    width: viewportSize(720);
    aspect-ratio: 1 / 1;
    position: sticky;
    top: viewportSize(96);
  }
}

.Overview__gallery {
  display: flex;
  gap: viewportSize(16);
  justify-content: center;
  margin: 0 0 viewportSize(32) 0;

  @include desktop-screen {
    justify-content: unset;
    margin: 0 0 viewportSize(16) viewportSize(16);
    position: absolute;
    bottom: 0;
  }
}

.Gallery__item {
  width: viewportSize(80);
  aspect-ratio: 1 / 1;
  background-color: #ffffff;
  border: solid viewportSize(2) transparent;

  img {
    width: 100%;
    height: 100%;
  }

  &--active {
    border-color: cssColor(french);
  }
}

.Overview__category {
  @include fontStyling("Archivo", 14, 300);
  position: absolute;
  top: viewportSize(20);
  right: viewportSize(20);
  text-transform: capitalize;

  @include desktop-screen {
    @include fontStyling("Archivo", 20, 300);
    right: viewportSize(-20);
    top: viewportSize(44);
  }
}

.ProductDetail__purchase {
  width: fit-content;
  text-align: center;
  margin: 0 auto;

  button {
    @include fontStyling("Clash Display", 16, 500);
    border: solid viewportSize(2) cssColor(eerie);
    padding: viewportSize(12) viewportSize(24);
    color: cssColor(eerie);
    margin-bottom: viewportSize(4);

    > span {
      display: block;
    }
  }


  > span {
    @include fontStyling("Archivo", 12, 300);
    color: cssColor(slate);
  }

  @include desktop-screen {
    position: absolute;
    bottom: viewportSize(144);
    right: viewportSize(-80);
    width: unset;
    text-align: unset;
    margin: unset;
  }
}

.CatalogDetail__information {
  padding: 0 viewportSize(24);
  margin-top: viewportSize(44);

  @include desktop-screen {
    width: viewportSize(720);
    margin-top: viewportSize(144);
    margin-left: viewportSize(208);
  }
}

.Information__brand {
  @include fontStyling("Archivo", 16, 300);
  color: cssColor(slate);
}

.Information__title {
  @include fontStyling("Clash Display", 48, 500);
  margin: viewportSize(32) 0 viewportSize(24);
  max-width: viewportSize(600);
}

.Information__description {
  @include fontStyling("Archivo", 16, 300);
  max-width: viewportSize(500);
  color: cssColor(slate);
}

.Information__price {
  @include fontStyling("Archivo", 20, 300);
  display: block;
  margin: viewportSize(80) 0 viewportSize(32);
}

.Information__warranty {
  @include fontStyling("Archivo", 14, 300);
  display: flex;
  justify-content: space-between;
  color: cssColor(slate);
}

.CatalogDetail__reviews {
  border-top: solid viewportSize(1) cssColor(french);
  padding-top: viewportSize(80);
  margin-top: viewportSize(80);
  padding-bottom: viewportSize(20);

  @include desktop-screen {
    padding-bottom: viewportSize(160);
  }
}

.Reviews__headline {
  @include fontStyling("Clash Display", 24, 300);
  margin-bottom: viewportSize(44);
}

.Reviews__item {
  border-bottom: dashed viewportSize(1) cssColor(onyx);
  padding-bottom: viewportSize(20);
  display: flex;
  justify-content: space-between;

  &:not(:last-child) {
    margin-bottom: viewportSize(20);
  }
}

.Reviews__date {
  @include fontStyling("Archivo", 12, 300);
  color: cssColor(slate);
}

.Reviews__detail {
  display: flex;
  flex-direction: column;
  margin: viewportSize(8) 0 viewportSize(24);

  strong {
    @include fontStyling("Clash Display", 16, 500);
  }

  > span {
    @include fontStyling("Archivo", 14, 300);
    color: cssColor(slate);
  }
}

.Reviews__comment {
  @include fontStyling("Archivo", 16, 400);
}
