@use '~/assets/scss/functions.scss' as *;
@use '~/assets/scss/mixins.scss' as *;

.CatalogPage {
  padding: 0 viewportSize(24);

  @include desktop-screen {
    padding: 0 viewportSize(40);
  }
}

.CatalogPage__hero {
  width: 100%;
  height: viewportSize(400);
  background-color: aquamarine;

  @include desktop-screen {
    height: viewportSize(650);
  }
}

.Product__filter {
  display: flex;
  align-items: center;
  position: relative;
  margin: viewportSize(32) 0;
}

.Filter__wrapper {
  display: flex;
  gap: viewportSize(32);
}

.Product__categories {
  display: flex;
  gap: viewportSize(32);
  position: absolute;
  left: 50%;
  transform: translateX(-50%)
}

.Category__btn {
  @include fontStyling("Clash Display", 20, 500);
  transition: color .35s cubic-bezier(0.87, 0, 0.13, 1);

  &--selected {
    color: cssColor(french);
  }

  @include tablet-screen {
    @include fontStyling("Clash Display", 16, 500);
  }
}

.Product__items {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: viewportSize(24);

  @include desktop-screen {
    gap: viewportSize(32);
    grid-template-columns: repeat(4, 1fr);
  }
}

.Product__box {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
  background-color: cssColor(seasalt);
  overflow: hidden;

  &:hover {
    .Product__cta {
      transform: translateX(0%);
    }

    .Product__image img {
      transform: scale(1.1)
    }
  }
}

.Product__cta {
  @include fontStyling("Archivo", 20, 500);
  position: absolute;
  top: viewportSize(60);
  right: 0;
  padding: viewportSize(16) viewportSize(24);
  background-color: cssColor(eerie);
  color: cssColor(seasalt);
  transform: translateX(110%);
  transition: transform .85s cubic-bezier(0.87, 0, 0.13, 1);
  z-index: 1;
}

.Product__image {
  width: 100%;
  aspect-ratio: 1 / 1;
  margin-bottom: viewportSize(40);

  img {
    width: 100%;
    height: 100%;
    transition: transform .85s cubic-bezier(0.87, 0, 0.13, 1);
  }
}

.Product__detail {
  margin: auto viewportSize(24) viewportSize(24);
}

.Product__name,
.Product__rating,
.Product__price {
  display: block;
}

.Product__name {
  @include fontStyling("Clash Display", 20, 500);
  margin-top: viewportSize(14);
}

.Product__rating {
  @include fontStyling("Archivo", 14, 400);
  display: flex;
  align-items: center;
  gap: viewportSize(8);

  svg {
    width: viewportSize(16);
    height: viewportSize(16);
  }
}

.Product__price {
  @include fontStyling("Archivo", 16, 300);
  color: cssColor(slate);
}
