@use '~/assets/scss/functions.scss' as *;
@use '~/assets/scss/mixins.scss' as *;

.CatalogPage {
  padding: 0 viewportSize(24);

  @include desktop-screen {
    padding: 0 viewportSize(60);
  }
}

.CatalogPage__hero {
  width: 100%;
  height: viewportSize(400);
  background-color: aquamarine;

  @include desktop-screen {
    height: viewportSize(650);
  }
}

.Product__categories {
  display: flex;
  gap: viewportSize(32);
  margin: viewportSize(32) 0;
  justify-content: center;

  button {
    @include fontStyling("Archivo", 16, 500);
  }
}

.Product__items {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: viewportSize(24);

  @include desktop-screen {
    gap: viewportSize(32);
    grid-template-columns: repeat(4, 1fr);
  }
}

.Product__box {
  width: 100%;
}

.Product__image {
  width: 100%;
  background-color: #eeeeee;

  img {
    width: 100%;
    height: 100%;
  }
}

.Product__detail {
  margin-top: viewportSize(32);
}

.Product__name,
.Product__rating,
.Product__price {
  text-align: center;
  display: block;
}

.Product__name {
  @include fontStyling("Archivo", 16, 500);
}

.Product__rating {
  @include fontStyling("Archivo", 16, 500);
}

.Product__price {
  @include fontStyling("Archivo", 16, 400);
  color: cssColor("slate");
}
